.volver{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.volver a {
    text-decoration: none;
    background: lightseagreen;
    padding: .5rem 1rem;
    border-radius: 35px;
    color: white;
}
div#sec_gusto {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.gusto_imagenes img{
    width: 100%;
}
.gusto_imagenes{
    padding: 1rem;
}
.row.gusto {
    margin: .5rem;
    display: flex;
    justify-content: center;
}