div#sec_vista {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.volver{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.volver a {
    text-decoration: none;
    background: lightseagreen;
    padding: .5rem 1rem;
    border-radius: 35px;
    color: white;
}